.advantages

	// container

	.container

		.row

			.col-md-4
				img(src="../img/company-1.jpg" alt="")
				img(src="../img/company-2.png" alt="")
				p
					| Люксовые бренды тренажеров, признанные атлетами во всем мире

			.col-md-4
				img(src="../img/trainers.png" alt="")
				p
					| Лучший тренерский состав в городе

			.col-md-4
				img(src="../img/spa.png" alt="")
				p
					| Уникальный SPA-зона включающая в себя:
				ul
					li
						| Хамам
					li
						| Финскую сауну
					li
						| Соляную пещеру
					li
						| Релакс-комнату
