.conditions

	.container

		.row

			.col-md-1

			.col-md-12

				p.about-fix-text
					| *Сумма преимуществ включает в себя: Cashback* на услуги клуба до 5000 руб., бесплатная персональная тренировка, 1 день сбалансированного питания от компании “Формула питания”, консультация специалиста по питанию <br/> *При покупке годового абонемента сумма Cashback зачисляется на карту клиента и может быть израсходована на любые услуги и товары в фитнес клубе “Фитнес №1” в том числе: услуги персонального тренера, солярий, ассортимента бара и прочее. Подробности узнавайте у администраторов.

			.col-md-1