// portfolio

.portfolio

	// container

	.container

		// row

		.row

			// column

			.col-md-12

				// title
				.portfolio__title
					h3
						| Построенные дома

				// line
				.portfolio__line

				// portfolio slider

				.portfolio-slider

					ul.portfolio-block

						// item

						li
							
							.portfolio__item

								// preview
								.portfolio__item__preview

									.portfolio__item__terms
										h6
											| Срок <br/> строительства:
										p
											| 54 календарных <br/> дня

									img(src="../img/work.jpg" alt="@@")

								// tabs
								.portfolio__item__tabs

									// controls
									.portfolio__item__tabs__controls

										// row

										.row

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-one(href="#" title="")
													| Общие данные

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-two(href="#" title="")
													| Комплектация

									.portfolio__item__tabs__tab-content-one

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| Новорязанское ш. 55 км от МКАД
											td
												| 8,3м х 8,6м 
											td
												| 112м2

									.portfolio__item__tabs__tab-content-two

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| 1
											td
												| 2
											td
												| 3

								// mini previews
								ul.portfolio__item__mini-previews
									li
										a(href="#" title="")
											img(src="../img/small-1.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-2.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-3.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-4.jpg" alt="@@")
																							
						// item

						li

							.portfolio__item

								// preview
								.portfolio__item__preview

									.portfolio__item__terms
										h6
											| Срок <br/> строительства:
										p
											| 54 календарных <br/> дня

									img(src="../img/work.jpg" alt="@@")

								// tabs
								.portfolio__item__tabs

									// controls
									.portfolio__item__tabs__controls

										// row

										.row

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-one(href="#" title="")
													| Общие данные

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-two(href="#" title="")
													| Комплектация

									.portfolio__item__tabs__tab-content-one

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| Новорязанское ш. 55 км от МКАД
											td
												| 8,3м х 8,6м 
											td
												| 112м2

									.portfolio__item__tabs__tab-content-two

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| 1
											td
												| 2
											td
												| 3

								// mini previews
								ul.portfolio__item__mini-previews
									li
										a(href="#" title="")
											img(src="../img/small-1.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-2.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-3.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-4.jpg" alt="@@")

						// item

						li

							.portfolio__item

								// preview
								.portfolio__item__preview

									.portfolio__item__terms
										h6
											| Срок <br/> строительства:
										p
											| 54 календарных <br/> дня

									img(src="../img/work.jpg" alt="@@")

								// tabs
								.portfolio__item__tabs

									// controls
									.portfolio__item__tabs__controls

										// row

										.row

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-one(href="#" title="")
													| Общие данные

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-two(href="#" title="")
													| Комплектация

									.portfolio__item__tabs__tab-content-one

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| Новорязанское ш. 55 км от МКАД
											td
												| 8,3м х 8,6м 
											td
												| 112м2

									.portfolio__item__tabs__tab-content-two

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| 1
											td
												| 2
											td
												| 3

								// mini previews
								ul.portfolio__item__mini-previews
									li
										a(href="#" title="")
											img(src="../img/small-1.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-2.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-3.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-4.jpg" alt="@@")

						// item

						li

							.portfolio__item

								// preview
								.portfolio__item__preview

									.portfolio__item__terms
										h6
											| Срок <br/> строительства:
										p
											| 54 календарных <br/> дня

									img(src="../img/work.jpg" alt="@@")

								// tabs
								.portfolio__item__tabs

									// controls
									.portfolio__item__tabs__controls

										// row

										.row

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-one(href="#" title="")
													| Общие данные

											.col-md-6
												a.portfolio__item__tabs__tab.portfolio__item__tabs__tab-two(href="#" title="")
													| Комплектация

									.portfolio__item__tabs__tab-content-one

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| Новорязанское ш. 55 км от МКАД
											td
												| 8,3м х 8,6м 
											td
												| 112м2

									.portfolio__item__tabs__tab-content-two

										table
											tr
											td
												| Расплоложение:
											td
												| Размеры дома:
											td
												| Площадь дома:
											tr
											td
												| 1
											td
												| 2
											td
												| 3

								// mini previews
								ul.portfolio__item__mini-previews
									li
										a(href="#" title="")
											img(src="../img/small-1.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-2.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-3.jpg" alt="@@")
									li
										a(href="#" title="")
											img(src="../img/small-4.jpg" alt="@@")