.about#blockAbout

	// container

	.container

		.row

			.col-md-12

				h3
					| Фитнесе № 1 – единственный в городе <br/> фитнес-центр премиум класса
				
				p
					| Создан для самых требовательных и искушенных, для людей, ценящих особую атмосферу, комфорт и высочайшее качество сервиса. Оборудование премиум класса Paramount(США) и Technogym(Италия), опытные тренеры и одна из лучших SPA-зон в городе позволят вам получить максимальный эффект от тренировок и отдохнуть от городской суеты.

		.row

			.col-md-12

				// reviews slider

				.club-photos-body

					ul.club-photos.container

						// item

						li.row
						
							.col-xs-4.col-md-4

								// item

								.club-photos__item.wow.fadeInDown
									a(data-fancybox="club" href="../img/club/photo-1.jpg" title="")
										img(src="../img/club/photo-1.jpg" alt="")

							.col-xs-4.col-md-4.wow

								// item

								.club-photos__item.wow.fadeInDown
									a(data-fancybox="club" href="../img/club/photo-2.jpg" title="")
										img(src="../img/club/photo-2.jpg" alt="")

							.col-xs-4.col-md-4

								// item

								.club-photos__item.wow.fadeInDown
									a(data-fancybox="club" href="../img/club/photo-3.jpg" title="")
										img(src="../img/club/photo-3.jpg" alt="")

						// / item

						// item

						li.row
						
							.col-xs-4.col-md-4

								// item

								.club-photos__item
									a(data-fancybox="club" href="../img/club/photo-4.jpg" title="")
										img(src="../img/club/photo-4.jpg" alt="")

							.col-xs-4.col-md-4

								// item

								.club-photos__item
									a(data-fancybox="club" href="../img/club/photo-5.jpg" title="")
										img(src="../img/club/photo-5.jpg" alt="")

							.col-xs-4.col-md-4

								// item

								.club-photos__item
									a(data-fancybox="club" href="../img/club/photo-6.jpg" title="")
										img(src="../img/club/photo-6.jpg" alt="")

						// / item