// call form

.call-form

	// container

	.container

		// row

		.row

			// column

			.col-md-12

				// call form container

				.call-form__container

					// content
					.call-form__content

						// description
						.call-form__content__description

							h3
								| Архитектурный проект в подарок

							.call-form__content__description__line

							p
								| Заполните форму заявки, чтобы получить индивидуальный архитектурный проект каркасного дома в подарок

						//  form

						form.call-form__content__form(action="/" method="post")

							h6
								| ЗАКАЖИТЕ КОНСУЛЬТАЦИЮ

							.call-form__content__form__line

							.call-form__content__form__input
								input.call-form__content__form__input__name(type="text" name="" placeholder="Имя" required)

							.call-form__content__form__input
								input.call-form__content__form__input__phone(type="text" name="" placeholder="Телефон" required)

							.call-form__content__form__input
								input.call-form__content__form__input__email(type="text" name="" placeholder="E-mail" required)

							p
								| Ответ в течение 15 минут

							input.btn-green(type="submit" value="Подробнее")