doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#000000")
    title Фитнес #1
    link(rel='stylesheet', href='../styles/bootstrap.css')
    link(rel='stylesheet', href='../styles/jquery.fancybox.min.css')
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/animate.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // header

    include ./blocks/block-header/header.pug

    // main screen

    include ./blocks/block-main-screen/main-screen.pug    

    // conditions

    include ./blocks/block-conditions/conditions.pug

    // about

    include ./blocks/block-about/about.pug

    // advantages

    include ./blocks/block-advantages/advantages.pug

    // choice sub

    include ./blocks/block-choice-sub/choice-sub.pug

    // gallery

    include ./blocks/block-gallery/gallery.pug

    // contacts

    include ./blocks/block-contacts/contacts.pug

    // questions

    include ./blocks/block-questions/questions.pug

    // mini information

    include ./blocks/block-mini-info/mini-info.pug

    // map

    include ./blocks/block-map/map.pug

    // footer

    include ./blocks/block-footer/footer.pug

    // popups

    include ./blocks/block-popups/popups.pug

    // scripts

    script(src='../js/jquery-3.2.1.min.js')
    script(src='../js/jquery.bpopup.min.js')
    script(src='../js/smooth-scroll.js')
    script(src='../js/wow.js')
    script(src='../js/responsiveslides.min.js')
    script(src='../js/jquery.fancybox.min.js')
    script(src='../js/scripts.js')

    // / scripts