// dream house

.dream-house

	// container

	.container

		// row

		.row

			// title block

			.title-block

				h3
					| Дом вашей мечты

				.title-block__line

				p
					| Технологии каркасного строительства позволяют воплощать <br/> в жизнь любые ваши идеи и архитектурные решения

			// dream house item one

			.dream-house__item-one

				// container

				.dream-house__item-one__conteiner

					// preview
					.dream-house__item-one__conteiner__preview
						img(src="../img/dream-house-preview.png" alt="@@")

					// content
					.dream-house__item-one__conteiner__content
						
						h5
							| Дом под ключ

						p
							| Вам останется только <br/> расставить мебель и пригласить <br/> гостей на новоселье!

						span
							| от 15 000 руб/м2

						a.btn-green(href="#" title="")
							| Подробнее


			// dream house item two

			.dream-house__item-two

					// preview
					.dream-house__item-two__conteiner__preview
						img(src="../img/dream-house-preview.png" alt="@@")

					// content
					.dream-house__item-two__conteiner__content
						
						h5
							| Дом под ключ

						p
							| Вам останется только <br/> расставить мебель и пригласить <br/> гостей на новоселье!

						span
							| от 15 000 руб/м2

						a.btn-green(href="#" title="")
							| Подробнее