// home device

.home-device

	// container

	.container

		// row

		.row

			// column

			.col-md-12

				// title
				.home-device__title
					h3
						| Устройство каркасного дома

				// line
				.home-device__line

				// house
				.home-device__house

					// points

					.home-device__house__point.home-device__house__point-one
						.home-device-show-1

					.home-device__house__point.home-device__house__point-two
						.home-device-show-2

					.home-device__house__point.home-device__house__point-three
						.home-device-show-3

					.home-device__house__point.home-device__house__point-four
						.home-device-show-4

					.home-device__house__point.home-device__house__point-five
						.home-device-show-5

					.home-device__house__point.home-device__house__point-six
						.home-device-show-6


				// link

				a.btn-green(href="#" title="")
					| Получить консультацию архитектора