// projects

.projects

	// container

	.container

		// row

		.row

			// column

			.col-md-12

				h3
					| Более 170 проектов <br/> с индивидуальной планировкой

				.projects__line

				// reviews slider

				.projects-slider

					ul.projects-block

						// item

						li
							
							// house

							.projects__item

								//title
								.projects__item__title
									| «Название» проекта

								// preview
								.projects__item__preview
									a(href="#" title="")
										img(src="../img/projects/project-1.jpg" alt="@@")

								// detail
								.projects__item__detail

									.projects__item__detail__description
										p
											| Площадь: 205 м2
										p
											| Размеры: 11,7м x 9,5м

									a.btn-green(href="#" title="")
										| Подробнее

							// house

							.projects__item

								//title
								.projects__item__title
									| «Название» проекта

								// preview
								.projects__item__preview
									a(href="#" title="")
										img(src="../img/projects/project-2.jpg" alt="@@")

								// detail
								.projects__item__detail

									.projects__item__detail__description
										p
											| Площадь: 205 м2
										p
											| Размеры: 11,7м x 9,5м

									a.btn-green(href="#" title="")
										| Подробнее

						// / item

						// item

						li
							| 222