.questions

	// container

	.container

		.row

			.col-md-3

				// form

				form.send-form(action="/" method="post")
					h4
						| Остались вопросы? <br/> Давайте мы вам перезвоним!

					.field-input
						input(type="text" name="" placeholder="Имя" required)

					.field-input
						input(type="text" name="" placeholder="Номер телефона" required)

					.field-input
						input(type="text" name="" placeholder="Ваш вопрос" required)

					.field-button
						input.btn-red(type="submit" value="Заказать обратный звонок")

			.col-md-9