.questions

	// container

	.container

		.row

			.col-md-3

				// form

				form.send-form(action="/" method="post")
					h4
						| Остались вопросы? <br/> Давайте мы вам перезвоним!

					.field-input
						input(type="text" name="name" placeholder="Имя" required)

					.field-input
						input(type="text" name="tel" placeholder="Номер телефона" required)

					.field-input
						input(type="text" name="mess" placeholder="Ваш вопрос" required)

					.field-button
						input(type="hidden" id="action" name="action" value="submitform")
						input.btn-red(type="submit" value="Заказать обратный звонок")

			.col-md-9