@import '../styles/fonts.css';
.logo,
a,
a:hover,
li,
img,
input,
textarea,
.prev,
.next,
.popup__icon-close {
  transition: all 0.5s ease-in-out;
}
.list__number__element {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
.color-red {
  color: #cd333f;
}
.color-blue {
  color: #195abc;
}
.left {
  float: left;
  margin: 0;
}
.right {
  float: right;
}
ul {
  -webkit-padding-start: 0px !important;
  -moz-padding-start: 0px !important;
}
.no-margin {
  margin: 0 !important;
  float: none !important;
}
@media only screen and (min-width: 1100px) {
  .about-fix-text {
    padding: 0 34px;
    font-size: 18px;
    line-height: 25px;
    color: #9c9c9c;
  }
  .club-photos-body-mobile {
    display: none;
  }
  .club-photos-body {
    margin: 60px auto;
    height: 200px;
    position: relative;
    z-index: 5;
  }
  .prev {
    top: 80px;
    left: -4%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .prev:hover {
    background: url('../img/arrow.png') no-repeat;
    border-color: #000;
  }
  .next {
    top: 80px;
    right: -2%;
    margin-left: -2%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow.png') no-repeat;
    border-color: #000;
  }
  .club-photos {
    list-style: none;
  }
  .club-photos li {
    float: left;
  }
  .club-photos__item {
    width: auto;
    height: 200px;
    padding-bottom: 230px;
    background-size: 90% auto;
    overflow: hidden;
  }
  .club-photos__item img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .club-photos-body {
    display: none;
    margin: 60px auto;
    height: 160px;
    position: relative;
    z-index: 5;
  }
  .prev {
    top: 90px;
    left: 1%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .next {
    top: 90px;
    right: 1%;
    margin-left: 0%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow.png') no-repeat;
  }
  .club-photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .club-photos li {
    margin: 0;
    padding: 0;
    float: left;
  }
  .club-photos__item {
    width: auto;
    height: 200px;
    padding-bottom: 0px;
    overflow: hidden;
  }
  .club-photos__item img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .club-photos-body-mobile {
    display: block;
    margin: 60px auto;
    height: 160px;
    position: relative;
    z-index: 5;
  }
  .prev {
    top: 60px;
    left: 1%;
    margin-left: 0;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    z-index: 888;
  }
  .next {
    top: 60px;
    right: 2%;
    margin-left: 0%;
    position: absolute;
    display: block;
    width: 24px;
    height: 47px;
    overflow: hidden;
    text-indent: -9999px;
    background: url('../img/arrow.png') no-repeat;
    z-index: 99999;
  }
  .next:hover {
    background: url('../img/arrow.png') no-repeat;
  }
  .club-photos-mobile {
    list-style: none;
  }
  .club-photos-mobile li {
    float: left;
  }
  .club-photos__item-mobile {
    width: auto;
    height: 200px;
    padding-bottom: 0px;
    overflow: hidden;
  }
  .club-photos__item-mobile img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1100px) {
  .advantages {
    margin: 60px 0;
    height: auto;
  }
  .advantages img {
    margin: 0 auto;
    display: block;
    max-width: 40%;
    height: auto;
  }
  .advantages p {
    margin-top: 20px;
    font: 16px 'helveticaneuecyrmedium';
    color: #000;
    text-align: center;
  }
  .advantages ul {
    margin: 0 auto;
    width: 160px;
    height: auto;
  }
  .advantages ul li {
    font: 14px 'helveticaneuecyrmedium';
    color: #000;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .advantages {
    margin-bottom: 60px;
    height: auto;
  }
  .advantages img {
    margin: 0 auto;
    display: block;
    max-width: 20%;
    height: auto;
  }
  .advantages p {
    margin-top: 20px;
    padding: 0 30px;
    font: 16px 'helveticaneuecyrmedium';
    color: #000;
    text-align: center;
  }
  .advantages ul {
    margin: 0 auto;
    width: 160px;
    height: auto;
  }
  .advantages ul li {
    font: 14px 'helveticaneuecyrmedium';
    color: #000;
  }
}
@media only screen and (min-width: 1100px) {
  .choice-sub {
    padding: 40px 0;
    background: url('../img/choice-sub-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
  }
  .choice-sub h3 {
    margin-bottom: 50px;
    color: #fff;
  }
  .choice-sub__column {
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.5);
  }
  .choice-sub__string {
    margin-bottom: 20px;
    height: 50px;
  }
  .choice-sub__string p {
    float: left;
    font: 16px 'helveticaneuecyrmedium';
  }
  .choice-sub__string img {
    margin-right: 16px;
    display: block;
    float: left;
    width: 32px !important;
    height: 32px !important;
  }
  .choice-sub__string p.p-bold {
    margin-top: 20px;
    vertical-align: middle;
    font: 16px 'helveticaneuecyrbold';
  }
  .choice-sub__string a,
  .choice-sub__string a:hover {
    padding: 10px;
    vertical-align: middle;
    font: 16px 'helveticaneuecyrbold';
    line-height: auto !important;
    height: auto !important;
  }
  .align-center {
    text-align: center;
    float: none !important;
  }
  .middle-sale {
    margin: -10px auto 10px auto;
    width: 110px;
  }
  .text-line {
    text-decoration: line-through;
  }
  .text-big {
    font-size: 28px;
  }
  .action-cashback {
    height: auto;
    margin-top: 50px;
  }
  .action-cashback h3 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .action-cashback a,
  .action-cashback a:hover {
    display: block;
    margin: 0 auto;
    width: 160px;
  }
  .red {
    color: #e50417;
  }
  .yellow {
    color: #faed1c;
  }
  .blue {
    color: #1da8d5;
  }
  .red,
  .blue,
  .yellow {
    text-transform: uppercase;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .choice-sub {
    padding: 40px 0;
    background: url('../img/choice-sub-bg.jpg') no-repeat;
    background-size: cover;
    color: #fff;
  }
  .choice-sub h3 {
    margin-bottom: 50px;
    color: #fff;
  }
  .choice-sub__column {
    margin: 0 3%;
    margin-bottom: 20px;
    padding: 20px;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.5);
  }
  .choice-sub__string {
    margin-bottom: 20px;
    height: 50px;
  }
  .choice-sub__string p {
    float: left;
    font: 16px 'helveticaneuecyrmedium';
  }
  .choice-sub__string img {
    margin-right: 16px;
    display: block;
    float: left;
    width: 32px !important;
    height: 32px !important;
  }
  .choice-sub__string p.p-bold {
    margin-top: 20px;
    vertical-align: middle;
    font: 16px 'helveticaneuecyrbold';
  }
  .choice-sub__string a,
  .choice-sub__string a:hover {
    padding: 10px;
    vertical-align: middle;
    font: 16px 'helveticaneuecyrbold';
    line-height: auto !important;
    height: auto !important;
  }
  .align-center {
    text-align: center;
    float: none !important;
  }
  .middle-sale {
    margin: -10px auto 10px auto;
    width: 110px;
  }
  .text-line {
    text-decoration: line-through;
  }
  .text-big {
    font-size: 18px;
  }
  .action-cashback {
    height: auto;
    margin-top: 50px;
  }
  .action-cashback h3 {
    font-size: 26px;
    margin-bottom: 30px;
  }
  .action-cashback a,
  .action-cashback a:hover {
    display: block;
    margin: 0 auto;
    width: 160px;
  }
}
@media only screen and (min-width: 1100px) {
  .conditions {
    height: auto;
    padding: 20px 0;
  }
  .conditions p {
    font: 14px 'tahoma';
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .conditions {
    height: auto;
    padding: 20px 0;
  }
  .conditions p {
    font: 11px 'tahoma';
  }
}
@media only screen and (min-width: 1100px) {
  footer {
    padding: 24px 0;
    background: #27272b;
  }
  footer a,
  footer a:hover {
    font: 14px 'helveticaneuecyrmedium';
    color: #fff;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  footer {
    padding: 24px 0;
    background: #27272b;
  }
  footer a,
  footer a:hover {
    font: 14px 'helveticaneuecyrmedium';
    color: #fff;
    text-align: center;
    display: block;
  }
}
@media only screen and (min-width: 1100px) {
  .gallery {
    height: auto;
    padding: 40px 0;
  }
  .gallery h3 {
    margin-bottom: 60px;
  }
  .gallery a,
  .gallery a:hover {
    margin: 0 0 3% 0;
    display: inline;
    width: 16.5%;
  }
  .gallery a img,
  .gallery a:hover img {
    width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .gallery {
    height: auto;
    padding: 40px 0;
  }
  .gallery h3 {
    margin-bottom: 60px;
  }
  .gallery a,
  .gallery a:hover {
    margin: 0 0 3% 0;
    display: inline;
    width: 33.3%;
  }
  .gallery a img,
  .gallery a:hover img {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1100px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background: #27272B;
    z-index: 10;
  }
  .logo {
    display: block;
    width: 184px;
    height: 35px !important;
  }
  .logo img {
    width: 184px;
    height: 35px !important;
  }
  .header__logo {
    margin: 32px 0 0 0 !important;
  }
  .navigation {
    height: 60px;
  }
  .navigation ul {
    height: auto;
    list-style: none;
  }
  .navigation ul li {
    float: left;
    margin: 0 20px;
    padding: 6px 0;
  }
  .navigation ul li:hover,
  .navigation ul li:focus {
    border-bottom: 2px solid #e50417;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    display: block !important;
    font: 12px 'helveticaneuecyrmedium';
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .header__navigation {
    margin: 38px 0 0 0;
  }
  .header__contacts-info {
    margin: 34px 0 0 0;
  }
  .contacts-info {
    height: 40px;
  }
  .contacts-info__phone {
    float: left;
    width: 150px;
    color: #fff;
    text-align: right;
  }
  .contacts-info__phone h4 {
    font: 18px 'helveticaneuecyrmedium';
    margin: 0;
  }
  .contacts-info__phone h4 span {
    font: 18px 'helveticaneuecyrbold';
  }
  .contacts-info__phone a,
  .contacts-info__phone a:hover {
    font: 12px 'helveticaneuecyrmedium';
    color: #fff;
    text-decoration: underline;
  }
  .contacts-info__action {
    margin-left: 20px;
    float: left;
    width: 180px;
    height: 40px;
  }
  .btn-red {
    display: block;
    background: #e50417;
    border-radius: 35px;
    color: #fff;
    font: 14px 'helveticaneuecyrmedium';
    line-height: 38px;
    text-align: center;
  }
  .btn-red:hover {
    background: #ca0415;
    color: #fff;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  header {
    position: relative;
    width: auto;
    height: auto;
    background: #27272B;
    z-index: 10;
  }
  .logo {
    display: block;
    width: 184px;
    height: 60px;
  }
  .header__logo {
    margin: 26px auto;
  }
  .navigation {
    height: auto;
  }
  .navigation ul {
    height: auto;
    list-style: none;
    text-align: center;
  }
  .navigation ul li {
    float: none;
    padding: 6px 0;
  }
  .navigation ul li:hover,
  .navigation ul li:focus {
    border-bottom: 2px solid #e50417;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    display: block !important;
    font: 12px 'helveticaneuecyrmedium';
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .header__navigation {
    margin: 38px auto;
  }
  .header__contacts-info {
    margin: 24px auto 34px auto;
  }
  .contacts-info {
    height: auto;
  }
  .contacts-info__phone {
    margin: 0 auto;
    float: none;
    width: 150px;
    color: #fff;
    text-align: center;
  }
  .contacts-info__phone h4 {
    font: 18px 'helveticaneuecyrmedium';
    margin: 0;
  }
  .contacts-info__phone h4 span {
    font: 18px 'helveticaneuecyrbold';
  }
  .contacts-info__phone a,
  .contacts-info__phone a:hover {
    font: 12px 'helveticaneuecyrmedium';
    color: #fff;
    text-decoration: underline;
  }
  .contacts-info__action {
    margin-left: 20px;
    float: none;
    margin: 20px auto;
    width: 180px;
    height: 40px;
  }
  .btn-red {
    display: block;
    background: #e50417;
    border-radius: 35px;
    color: #fff;
    font: 14px 'helveticaneuecyrmedium';
    line-height: 38px;
    text-align: center;
  }
  .btn-red:hover {
    background: #ca0415;
    color: #fff;
  }
}
@media only screen and (min-width: 1100px) {
  .main-screen {
    margin-top: 110px;
    padding: 70px 0 40px 0;
    height: auto;
    color: #fff;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
  }
  .main-screen h2 {
    font: 42px 'helveticaneuecyrbold';
    text-align: center;
    line-height: 48px;
  }
  .main-screen h2 span {
    margin-top: 12px;
    font-size: 42px;
    display: block;
  }
  .main-screen p {
    margin-top: 20px;
    font: 18px 'helveticaneuecyrlight';
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
  }
  .main-screen__block-info,
  .questions {
    margin-top: 90px;
  }
  .main-screen__block-info ul,
  .questions ul {
    height: auto;
    list-style: none;
  }
  .main-screen__block-info ul li,
  .questions ul li {
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .main-screen__block-info ul li img,
  .questions ul li img {
    margin-right: 10px;
    display: block;
    float: left;
    width: 32px;
  }
  .main-screen__block-info ul li p,
  .questions ul li p {
    margin: 0;
    float: left !important;
    font: 16px 'helveticaneuecyrbold';
    text-transform: none;
    text-align: left;
    line-height: 38px;
  }
  .main-screen__block-info form,
  .questions form {
    padding: 20px;
    width: 320px;
    height: auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }
  .main-screen__block-info form p,
  .questions form p {
    font: 18px 'helveticaneuecyrbold';
    margin: 0 0 20px 0;
  }
  .main-screen__block-info form input[type="text"],
  .questions form input[type="text"] {
    width: 100%;
    padding: 0 10px;
    height: 30px;
    border: 0;
    border-radius: 0px;
    background: #fff;
    color: #000;
    font: 14px 'helveticaneuecyrlight';
  }
  .main-screen__block-info form input[type="submit"],
  .questions form input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 0;
    outline: 0;
  }
  .field-input {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    width: 250px;
  }
  .field-button {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    width: 250px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .main-screen {
    margin-top: 0px;
    padding: 70px 0 40px 0;
    height: auto;
    color: #fff;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
  }
  .main-screen h2 {
    font: 32px 'helveticaneuecyrbold';
    text-align: center;
    line-height: 38px;
  }
  .main-screen h2 span {
    margin-top: 14px;
    display: block;
  }
  .main-screen p {
    margin-top: 20px;
    font: 18px 'helveticaneuecyrlight';
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
  }
  .main-screen__block-info,
  .questions {
    margin-top: 90px;
  }
  .main-screen__block-info ul,
  .questions ul {
    margin: 0 auto;
    width: 300px;
    height: auto;
    list-style: none;
  }
  .main-screen__block-info ul li,
  .questions ul li {
    height: auto;
    overflow: hidden;
    margin-bottom: 24px;
  }
  .main-screen__block-info ul li img,
  .questions ul li img {
    margin-right: 0px;
    margin: 0 auto;
    display: block;
    float: none;
    width: 32px;
  }
  .main-screen__block-info ul li p,
  .questions ul li p {
    margin: 0;
    margin-top: 8px;
    float: none;
    font: 16px 'helveticaneuecyrbold';
    text-transform: none;
    text-align: center;
    line-height: auto;
  }
  .main-screen__block-info form,
  .questions form {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    width: 320px;
    height: auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
  }
  .main-screen__block-info form p,
  .questions form p {
    font: 18px 'helveticaneuecyrbold';
    margin: 0 0 20px 0;
  }
  .main-screen__block-info form input[type="text"],
  .questions form input[type="text"] {
    width: 100%;
    padding: 0 10px;
    height: 30px;
    border: 0;
    border-radius: 0px;
    background: #fff;
    color: #000;
    font: 14px 'helveticaneuecyrlight';
  }
  .main-screen__block-info form input[type="submit"],
  .questions form input[type="submit"] {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 0;
  }
  .field-input {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    width: 250px;
  }
  .field-button {
    height: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
    position: relative;
    width: 250px;
  }
}
@media only screen and (min-width: 1100px) {
  .map {
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .map {
    height: auto;
  }
}
@media only screen and (min-width: 1100px) {
  .mini-info {
    width: 100%;
    height: 110px;
    background: #27272B;
    z-index: 10;
  }
  .logo {
    display: block;
    width: 184px;
    height: 60px;
  }
  .header__logo {
    margin: 26px 0 0 0;
  }
  .navigation {
    height: 60px;
  }
  .navigation ul {
    height: auto;
    list-style: none;
  }
  .navigation ul li {
    float: left;
    margin: 0 20px;
    padding: 6px 0;
  }
  .navigation ul li:hover,
  .navigation ul li:focus {
    border-bottom: 2px solid #e50417;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    display: block !important;
    font: 12px 'helveticaneuecyrmedium';
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .header__navigation {
    margin: 38px 0 0 0;
  }
  .socials {
    margin: 40px 0 0 0;
  }
  .socials {
    height: 40px;
  }
  .socials a,
  .socials a:hover {
    display: block;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 10px;
  }
  .socials img {
    display: block;
    width: 24px;
    height: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .mini-info {
    position: relative;
    width: auto;
    height: auto;
    background: #27272B;
    z-index: 10;
  }
  .logo {
    display: block;
    width: 184px;
    height: 60px;
  }
  .header__logo {
    margin: 26px auto;
  }
  .navigation {
    height: auto;
  }
  .navigation ul {
    height: auto;
    list-style: none;
    text-align: center;
  }
  .navigation ul li {
    float: none;
    padding: 6px 0;
  }
  .navigation ul li:hover,
  .navigation ul li:focus {
    border-bottom: 2px solid #e50417;
  }
  .navigation ul li a,
  .navigation ul li a:hover {
    display: block !important;
    font: 12px 'helveticaneuecyrmedium';
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
  }
  .header__navigation {
    margin: 38px auto;
  }
  .socials {
    margin: 40px auto 20px auto;
    width: 110px;
  }
  .socials {
    height: 40px;
  }
  .socials a,
  .socials a:hover {
    display: block;
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 6px;
  }
  .socials img {
    display: block;
    width: 24px;
    height: 24px;
  }
}
@media only screen and (min-width: 1100px) {
  h3 {
    margin-bottom: 30px;
    font: 64px 'helveticaneuecyrbold';
    line-height: 69px;
    text-align: center;
    color: #25282c;
  }
  .contacts {
    height: auto;
    padding: 20px 0;
  }
  .contacts p {
    margin: 0;
    font: 16px 'helveticaneuecyrmedium';
    color: #000;
    text-align: center;
    line-height: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  h3 {
    margin-bottom: 30px;
    font: 36px 'helveticaneuecyrbold';
    text-align: center;
    color: #000;
  }
  .contacts {
    height: auto;
    padding: 20px 0;
  }
  .contacts p {
    margin: 0;
    font: 16px 'helveticaneuecyrmedium';
    color: #000;
    text-align: center;
    line-height: 24px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .popup {
    position: relative;
    width: 280px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    font: 14px 'helveticaneuecyrmedium';
    -webkit-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
  }
  .popup h4 {
    margin-bottom: 10px;
    font: 18px 'helveticaneuecyrmedium';
  }
  .popup form {
    margin-top: 30px;
  }
  .popup__input {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    display: inline-block;
  }
  .popup__input input[type="text"] {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background: #e5e5e5;
    font: 14px 'helveticaneuecyrmedium';
    color: #000;
  }
  .popup__checkbox {
    margin: 0 auto;
    width: 180px;
  }
  .popup__checkbox input[type=checkbox] {
    margin-top: 0px;
    margin-right: 10px;
    float: left;
    width: 24px;
    height: 24px;
  }
  .popup__checkbox p {
    font: 12px 'helveticaneuecyrmedium';
    color: #000;
  }
  .popup__button {
    margin: 0 auto;
    width: 220px;
  }
  .popup__button input[type=submit] {
    border: 0;
    padding: 0;
    width: 220px;
    text-align: center !important;
    height: 44px;
    background: #000;
    border-radius: 45px;
    font: 14px 'helveticaneuecyrmedium';
    color: #fff;
  }
  .popup__button input[type=submit]:hover {
    background: #000;
    color: #fff;
  }
  .popup-thanks p {
    margin-top: 20px;
    font: 16px 'helveticaneuecyrmedium';
    text-align: center;
    text-transform: uppercase;
  }
  .popup__icon-close {
    position: absolute;
    display: block;
    right: -30px;
    top: -30px;
    z-index: 118;
    width: 24px;
    height: 24px;
  }
  .popup__icon-close img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .popup__icon-close img:hover {
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 1100px) {
  .popup {
    position: relative;
    width: 280px;
    height: auto;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    font: 14px 'helveticaneuecyrmedium';
    -webkit-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
  }
  .popup h4 {
    margin-bottom: 10px;
    font: 18px 'helveticaneuecyrmedium';
  }
  .popup form {
    margin-top: 30px;
  }
  .popup__input {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    display: inline-block;
  }
  .popup__input input[type="text"] {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background: #e5e5e5;
    font: 14px 'helveticaneuecyrmedium';
    color: #000;
  }
  .popup__checkbox {
    margin: 0 auto;
    width: 180px;
  }
  .popup__checkbox input[type=checkbox] {
    margin-top: 0px;
    margin-right: 10px;
    float: left;
    width: 24px;
    height: 24px;
  }
  .popup__checkbox p {
    font: 12px 'helveticaneuecyrmedium';
    color: #000;
  }
  .popup__button {
    margin: 0 auto;
    width: 220px;
  }
  .popup__button input[type=submit] {
    border: 0;
    padding: 0;
    width: 220px;
    text-align: center !important;
    height: 44px;
    background: #000;
    border-radius: 45px;
    font: 14px 'helveticaneuecyrmedium';
    color: #fff;
  }
  .popup__button input[type=submit]:hover {
    background: #000;
    color: #fff;
  }
  .popup-thanks p {
    margin-top: 20px;
    font: 16px 'helveticaneuecyrmedium';
    text-align: center;
    text-transform: uppercase;
  }
  .popup__icon-close {
    position: absolute;
    display: block;
    right: -30px;
    top: -30px;
    z-index: 118;
    width: 24px;
    height: 24px;
  }
  .popup__icon-close img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .popup__icon-close img:hover {
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .questions {
    height: auto;
    background: #27272b url('../img/question-bg.jpg') no-repeat center;
    background-size: cover;
    padding: 40px 0;
  }
  .questions h4 {
    margin: 0px 0 20px 16px;
    font: 26px 'helveticaneuecyrmedium';
    text-align: left;
    color: #fff;
  }
  .questions form {
    float: none;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (min-width: 1100px) {
  .questions {
    height: auto;
    background: #010102 url('../img/question-bg.jpg') no-repeat center;
    padding: 40px 0;
  }
  .questions h4 {
    margin: 0px 0 20px 16px;
    font: 26px 'helveticaneuecyrmedium';
    text-align: left;
    color: #fff;
  }
  .questions form {
    float: left;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
