@import '../styles/fonts.css';
.logo,
a,
a:hover,
li,
img,
input,
textarea,
.prev,
.next,
.popup__icon-close {
  transition: all 0.5s ease-in-out;
}
.list__number__element {
  transition: all 0.2s ease-in-out;
}
body {
  cursor: default;
  overflow-x: hidden !important;
}
a {
  cursor: pointer;
}
.color-red {
  color: #cd333f;
}
.color-blue {
  color: #195abc;
}
.left {
  float: left;
  margin: 0;
}
.right {
  float: right;
}
ul {
  -webkit-padding-start: 0px !important;
  -moz-padding-start: 0px !important;
}
.no-margin {
  margin: 0 !important;
  float: none !important;
}
@media only screen and (min-width: 1100px) {
  footer {
    padding: 100px 0 80px 0;
    background: #282828;
    color: #fff;
  }
  .footer__column {
    height: auto;
  }
  .footer__column h4 {
    margin-bottom: 30px;
    font: 24px 'muller_regularregular';
    color: #ececec;
  }
  .footer__column p {
    font: 21px 'muller_regularregular';
    color: #bdbdbd;
    line-height: 26px;
  }
  .footer__column p a,
  .footer__column p a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }
  .footer__column p a:hover,
  .footer__column p a:hover:hover {
    color: #bdbdbd;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  footer {
    padding: 100px 0 80px 0;
    background: #282828;
    color: #fff;
  }
  .footer__column {
    height: auto;
  }
  .footer__column h4 {
    margin-bottom: 30px;
    font: 24px 'muller_regularregular';
    color: #ececec;
  }
  .footer__column p {
    font: 21px 'muller_regularregular';
    color: #bdbdbd;
    line-height: 26px;
  }
  .footer__column p a,
  .footer__column p a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }
  .footer__column p a:hover,
  .footer__column p a:hover:hover {
    color: #bdbdbd;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 1100px) {
  .header {
    height: 130px;
    background: #282828;
  }
  .header__logo {
    margin: 19px 0 0 3px;
  }
  .logo {
    display: block;
    width: 349px;
    height: 91px;
    background: url('../img/logo.png') no-repeat;
  }
  .title-site h2 {
    font: 18px 'mullermedium';
    color: #fff;
  }
  .header__title-site {
    margin: 0px 0 0 0;
    height: 130px;
  }
  .header__title-site h2 {
    line-height: 90px;
  }
  .header__call-button {
    margin: 36px 0 0 0;
    padding: 0 60px;
    height: 56px;
    line-height: 56px !important;
  }
  .btn {
    display: inline-block;
  }
  .btn-green {
    background-image: -webkit-gradient(linear, 287 0, 0 0, from(#80a535), color-stop(0.017, #80a635), color-stop(0.017, #81a536), color-stop(0.459, #93b241), color-stop(0.466, #94b142), color-stop(0.487, #95b342), color-stop(0.759, #a4bb4b), color-stop(0.759, #a3bc4a), color-stop(0.829, #a6be4c), color-stop(0.836, #a7bd4d), color-stop(0.916, #a9c04e), color-stop(0.916, #aabf4f));
    background-image: -webkit-linear-gradient(180deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    background-image: -moz-linear-gradient(180deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    background-image: -o-linear-gradient(180deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    background-image: linear-gradient(270deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    font: 20px 'mullermedium';
    color: #fff;
    text-decoration: none;
  }
  .btn-green:hover {
    background: #fff;
  }
  .btn-small {
    height: 30px;
  }
  .btn-normal {
    height: 56px;
  }
  .btn-big {
    height: 90px;
  }
  .phone-number {
    font: 22px 'mullermedium';
  }
  .phone-number a,
  .phone-number a:hover {
    color: #fff;
    text-decoration: none;
  }
  .phone-number a:hover,
  .phone-number a:hover:hover {
    text-decoration: underline;
  }
  .header__phone-number {
    margin: 0 0 0 0;
    line-height: 130px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .header {
    height: 130px;
    background: #282828;
  }
  .header__logo {
    margin: 19px 0 0 3px;
  }
  .logo {
    display: block;
    width: 349px;
    height: 91px;
    background: url('../img/logo.png') no-repeat;
  }
  .title-site h2 {
    font: 18px 'mullermedium';
    color: #fff;
  }
  .header__title-site {
    margin: 0px 0 0 0;
    height: 130px;
  }
  .header__title-site h2 {
    line-height: 90px;
  }
  .header__call-button {
    margin: 36px 0 0 0;
    padding: 0 60px;
    height: 56px;
    line-height: 56px !important;
  }
  .btn {
    display: inline-block;
  }
  .btn-green {
    background-image: -webkit-gradient(linear, 287 0, 0 0, from(#80a535), color-stop(0.017, #80a635), color-stop(0.017, #81a536), color-stop(0.459, #93b241), color-stop(0.466, #94b142), color-stop(0.487, #95b342), color-stop(0.759, #a4bb4b), color-stop(0.759, #a3bc4a), color-stop(0.829, #a6be4c), color-stop(0.836, #a7bd4d), color-stop(0.916, #a9c04e), color-stop(0.916, #aabf4f));
    background-image: -webkit-linear-gradient(180deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    background-image: -moz-linear-gradient(180deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    background-image: -o-linear-gradient(180deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    background-image: linear-gradient(270deg, #80a535, #80a635 1.7%, #81a536 1.7%, #93b241 45.9%, #94b142 46.6%, #95b342 48.7%, #a4bb4b 75.9%, #a3bc4a 75.9%, #a6be4c 82.9%, #a7bd4d 83.6%, #a9c04e 91.6%, #aabf4f 91.6%);
    font: 20px 'mullermedium';
    color: #fff;
    text-decoration: none;
  }
  .btn-green:hover {
    background: #fff;
  }
  .btn-small {
    height: 30px;
  }
  .btn-normal {
    height: 56px;
  }
  .btn-big {
    height: 90px;
  }
  .phone-number {
    font: 22px 'mullermedium';
  }
  .phone-number a,
  .phone-number a:hover {
    color: #fff;
    text-decoration: none;
  }
  .phone-number a:hover,
  .phone-number a:hover:hover {
    text-decoration: underline;
  }
  .header__phone-number {
    margin: 0 0 0 0;
    line-height: 130px;
  }
}
@media only screen and (min-width: 1100px) {
  .main-screen {
    height: 906px;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
    color: #000;
  }
  .main-screen h3 {
    margin-bottom: 70px;
    padding: 32px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    font: 56px 'mullerbold';
    color: #fff;
  }
  .main-screen ul {
    height: auto;
    list-style: none;
  }
  .main-screen ul li {
    position: relative;
    height: 50px;
    margin-bottom: 30px;
  }
  .main-screen ul li:before {
    margin-left: 40px;
    position: absolute;
    content: "+";
    font: 30px 'mullermedium';
    color: #fff;
  }
  .main-screen ul li span {
    padding: 18px 64px;
    background-color: rgba(0, 0, 0, 0.6);
    font: 30px 'mullermedium';
    color: #fff;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .main-screen {
    height: 906px;
    background: url('../img/main-screen.jpg') no-repeat center;
    background-size: cover;
    color: #000;
  }
  .main-screen h3 {
    margin-bottom: 70px;
    padding: 32px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    font: 56px 'mullerbold';
    color: #fff;
  }
  .main-screen ul {
    height: auto;
    list-style: none;
  }
  .main-screen ul li {
    position: relative;
    height: 50px;
    margin-bottom: 30px;
  }
  .main-screen ul li:before {
    margin-left: 40px;
    position: absolute;
    content: "+";
    font: 30px 'mullermedium';
    color: #fff;
  }
  .main-screen ul li span {
    padding: 18px 64px;
    background-color: rgba(0, 0, 0, 0.6);
    font: 30px 'mullermedium';
    color: #fff;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .nav {
    height: 58px;
  }
  .nav ul {
    list-style: none;
    height: auto;
  }
  .nav ul li {
    display: inline-block;
    height: 58px;
  }
  .nav ul li a,
  .nav ul li a:hover {
    padding: 0 72px;
    height: 58px;
    float: left;
    font: 20px 'mullermedium';
    color: #282828;
    text-decoration: none;
    line-height: 58px;
    transition: none;
  }
  .nav ul li a:hover,
  .nav ul li a:hover:hover {
    background: #80a535;
    color: #fff;
    position: relative;
  }
  .nav ul li a:hover:after,
  .nav ul li a:hover:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-top: 58px solid #fff;
    border-right: 28px solid #80a535;
  }
  .nav ul li a:hover:before,
  .nav ul li a:hover:hover:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0px;
    border-bottom: 58px solid #fff;
    border-left: 28px solid #80a535;
  }
  .nav ul li a:nth-child(2),
  .nav ul li a:hover:nth-child(2) {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1100px) {
  .nav {
    height: 58px;
  }
  .nav ul {
    list-style: none;
    height: auto;
  }
  .nav ul li {
    display: inline-block;
    height: 58px;
  }
  .nav ul li a,
  .nav ul li a:hover {
    padding: 0 72px;
    height: 58px;
    float: left;
    font: 20px 'mullermedium';
    color: #282828;
    text-decoration: none;
    line-height: 58px;
    transition: none;
  }
  .nav ul li a:hover,
  .nav ul li a:hover:hover {
    background: #80a535;
    color: #fff;
    position: relative;
  }
  .nav ul li a:hover:after,
  .nav ul li a:hover:hover:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    border-top: 58px solid #fff;
    border-right: 28px solid #80a535;
  }
  .nav ul li a:hover:before,
  .nav ul li a:hover:hover:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0px;
    border-bottom: 58px solid #fff;
    border-left: 28px solid #80a535;
  }
  .nav ul li a:nth-child(2),
  .nav ul li a:hover:nth-child(2) {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1100px) {
  .popup {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    font: 14px 'robotoregular';
    -webkit-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
  }
  .popup h4 {
    margin-bottom: 10px;
    font: 18px 'robotomedium';
  }
  .popup form {
    margin-top: 30px;
  }
  .popup__input {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    display: inline-block;
  }
  .popup__input input[type="text"] {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background: #e5e5e5;
    font: 14px 'robotolight';
    color: #000;
  }
  .popup__button {
    margin: 0 auto;
    width: 220px;
  }
  .popup__button input[type=submit] {
    border: 0;
    padding: 0;
    width: 220px;
    text-align: center !important;
  }
  .popup-thanks p {
    margin-top: 20px;
    font: 16px 'robotolight';
    text-align: center;
    text-transform: uppercase;
  }
  .popup__icon-close {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
  }
  .popup__icon-close img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .popup__icon-close img:hover {
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 1100px) {
  .popup {
    position: relative;
    width: 400px;
    height: auto;
    overflow: hidden;
    padding: 20px;
    background: #fff;
    border-radius: 6px;
    font: 14px 'robotoregular';
    -webkit-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
    box-shadow: 0px 7px 25px -7px rgba(0, 0, 0, 0.53);
  }
  .popup h4 {
    margin-bottom: 10px;
    font: 18px 'robotomedium';
  }
  .popup form {
    margin-top: 30px;
  }
  .popup__input {
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    display: inline-block;
  }
  .popup__input input[type="text"] {
    width: 100%;
    padding: 0 20px;
    height: 40px;
    border: 0;
    border-radius: 6px;
    background: #e5e5e5;
    font: 14px 'robotolight';
    color: #000;
  }
  .popup__button {
    margin: 0 auto;
    width: 220px;
  }
  .popup__button input[type=submit] {
    border: 0;
    padding: 0;
    width: 220px;
    text-align: center !important;
  }
  .popup-thanks p {
    margin-top: 20px;
    font: 16px 'robotolight';
    text-align: center;
    text-transform: uppercase;
  }
  .popup__icon-close {
    position: absolute;
    display: block;
    right: 10px;
    top: 10px;
  }
  .popup__icon-close img {
    display: block;
    width: 24px;
    height: 24px;
  }
  .popup__icon-close img:hover {
    transform: rotate(180deg);
  }
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
