// main screen

.main-screen

	// container

	.container

		// row

		.row

			.col-md-12

				h3
					| Строим КАРКАСНЫЕ ДОМА «ПОД КЛЮЧ» <br/> в Швеции с гарантией 20 лет

				ul

					// item

					li
						span
							| Опыт бригад от 9 лет

					// item

					li
						span
							| Без предоплаты

					// item

					li
						span
							| Сертифицированные материалы

					// item

					li
						span
							| Выполнение работ от проектирования дома до монтажа розеток