.main-screen

	// container

	.container

		.row

			.col-md-12

				h1
					| РАЗДАЕМ

				h2
					| 1 500 000 <span>₽</span>

		.row.main-screen__block-info 

			.col-sm-12.col-md-1

			.col-sm-12.col-md-5

				p.p-main-big
					| 200 человек купившие годовые абонементы получают пакет преимуществ до 7500* руб. и скидку на абонемент –20%

			.col-sm-12.col-md-1

			.col-sm-12.col-md-5

				form(action="mail.php" method="post")
					p
						| Успейте забронировать абонементы с преимуществами
					
					.field-input
						input(type="text" name="name" placeholder="Ваше имя")

					.field-input
						input(type="text" name="name" placeholder="Ваш номер телефона")

					.field-button
						input(type="hidden" id="action" name="action" value="submitform")
						input.btn-red(type="submit" value="Забронировать абонемент")