@media only screen and (min-width : @mobile) and  (max-width : @desktop) {

	// contacts

	.contacts {
		height: auto;
		padding: 20px 0;

		h3 {
			margin-bottom: 30px;
			font: 36px 'helveticaneuecyrbold';
			text-align: center;
			color: @black;
		}

		p {
			margin: 0;
			font: 16px 'helveticaneuecyrmedium';
			color: @black;
			text-align: center;
			line-height: 24px;
		}

	}

}