.choice-sub#blockChoiceSub

	// container

	.container

		.row

			.col-md-12

				h3
					| Выбери свой абонемент

		// table

		.row.table-a

			.col-md-4.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center.red
						| Годовой абонемент Безлимитный

				// item

				.choice-sub__string.middle-sale
					//img(src="../img/icon-17.png" alt="")
					p
						| <span class="text-line">35000р</span> <br/> <span class="text-big">28000р</span>

				// item

				.choice-sub__string
					p.align-center
						| Безлимитное посещение клуба, посещение групповых программ, SPA зона 

				// item

				.choice-sub__string
					//img(src="../img/icon-10.png" alt="")
					p
						| Cashback <br/> 5000р 


				// item

				.choice-sub__string
					//img(src="../img/icon-11.png" alt="")
					p
						| Консультация специалиста <br/> по питанию

				// item

				.choice-sub__string
					//img(src="../img/icon-12.png" alt="")
					p
						| Дневной рацион правильного <br/> питания от Формулы питания 


				// item

				.choice-sub__string
					//img(src="../img/icon-13.png" alt="")
					p
						| Солярия <br/> 30 мин.

				// item

				.choice-sub__string
					//img(src="../img/icon-14.png" alt="")
					p
						| Индивидуальный шкафчик <br/> 1 мес.


				// item

				.choice-sub__string
					//img(src="../img/icon-15.png" alt="")
					p
						| Настольный теннис <br/> 5 часов


				// item

				.choice-sub__string
					//img(src="../img/icon-16.png" alt="")
					p
						| Заморозка карты <br/> 45 дней

				// item

				.choice-sub__string
					a.btn-red.link-call-popup(href="#" title="")
						| Забронировать абонемент с Cashback

			.col-md-4.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center.yellow
						| Дневной абонемент

				// item

				.choice-sub__string.middle-sale
					//img(src="../img/icon-17.png" alt="")
					p
						| <span class="text-line">28000р</span> <br/> <span class="text-big">23000р</span>

				// item

				.choice-sub__string
					p.align-center
						| Посещение клуба с 7 до 17 00 в <br/> будни с 9 до 22 в вх. и в праздники

				// item

				.choice-sub__string
					//img(src="../img/icon-10.png" alt="")
					p
						| Cashback <br/> 3000р 


				// item

				.choice-sub__string
					//img(src="../img/icon-11.png" alt="")
					p
						| Консультация специалиста <br/> по питанию

				// item

				.choice-sub__string
					//img(src="../img/icon-12.png" alt="")
					p
						| Дневной рацион правильного <br/> питания от Формулы питания 


				// item

				.choice-sub__string
					//img(src="../img/icon-13.png" alt="")
					p
						| Солярия <br/> 20 мин.

				// item

				.choice-sub__string
					//img(src="../img/icon-15.png" alt="")
					p
						| Настольный теннис <br/> 3 часов


				// item

				.choice-sub__string
					//img(src="../img/icon-16.png" alt="")
					p
						| Заморозка карты <br/> 45 дней

				// item

				.choice-sub__string

				// item

				.choice-sub__string
					a.btn-red.link-call-popup(href="#" title="")
						| Забронировать абонемент с Cashback

			.col-md-4.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center.blue
						| Утренний абонемент

				// item

				.choice-sub__string.middle-sale
					//img(src="../img/icon-17.png" alt="")
					p
						| <span class="text-line">19000р</span> <br/> <span class="text-big">15000р</span>

				// item

				.choice-sub__string
					p.align-center
						| Посещение клуба с 7 до 17 00 в <br/> будни с 9 до 22 в вх. и в праздники

				// item

				.choice-sub__string
					//img(src="../img/icon-10.png" alt="")
					p
						| Cashback <br/> 1000р 


				// item

				.choice-sub__string
					//img(src="../img/icon-11.png" alt="")
					p
						| Консультация специалиста <br/> по питанию

				// item

				.choice-sub__string
					//img(src="../img/icon-12.png" alt="")
					p
						| Дневной рацион правильного <br/> питания от Формулы питания 


				// item

				.choice-sub__string
					//img(src="../img/icon-13.png" alt="")
					p
						| Солярия <br/> 10 мин.

				// item

				.choice-sub__string
					//img(src="../img/icon-15.png" alt="")
					p
						| Настольный теннис <br/> 2 часов


				// item

				.choice-sub__string
					//img(src="../img/icon-16.png" alt="")
					p
						| Заморозка карты <br/> 45 дней

				// item

				.choice-sub__string

				// item

				.choice-sub__string
					a.btn-red.link-call-popup(href="#" title="")
						| Забронировать абонемент с Cashback

		// action cashback

		.row.action-cashback

			.col-md-12

				h3
					| Приобретайте абонементы с Cashback онлайн и получите дополнительную скидку 3%
				
				a.btn-red.link-call-popup(href="" title="")
					| Купить онлайн