.choice-sub

	// container

	.container

		.row

			.col-md-12

				h3
					| Выбери свой абонемент

		// table

		.row.table-a

			.choice-sub-mobile-table
				a.btn-red(href="../img/table.png" title="")
					| Смотреть тарифы

			.col-md-3.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center
						| &nbsp;

				// item

				.choice-sub__string
					p
						| Время посещения

				// item

				.choice-sub__string
					p
						| Цена

				// item

				.choice-sub__string
					p
						| Cashback

				// item

				.choice-sub__string
					p
						| Полотенце на каждую тренировку и безлимитная SPA-зона

				// item

				.choice-sub__string
					p
						| Персональная тренировка с тренером

				// item

				.choice-sub__string
					p
						| Консультация специалиста по питанию и составление рациона питания

				// item

				.choice-sub__string
					p
						| День сбалансированного питания от “Формула питания”

				// item

				.choice-sub__string
					p
						| Персональный шкафчик

				// item

				.choice-sub__string
					p
						| Заморозка до 60 дней

				// item

				.choice-sub__string

			.col-md-3.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center
						| Дневной

				// item

				.choice-sub__string
					p.align-center
						| (буд. 6.30-24.00; вых. 9.00-21.00)

				// item

				.choice-sub__string
					p.align-center.text-line 
						| 38 000 ₽	
					p.align-center
						| 26 000 ₽

				// item

				.choice-sub__string
					p.align-center
						| 2000 ₽

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-9.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-9.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-9.png" alt="")

				// item

				.choice-sub__string
					a.btn-red(href="#" title="")
						| Забронировать абонемент с Cashback

			.col-md-3.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center
						| Безлимитный 12 мес

				// item

				.choice-sub__string
					p
						| (буд. 6.30-24.00; вых. 9.00-21.00)

				// item

				.choice-sub__string
					p.align-center.text-line 
						| 38 000 ₽	
					p.align-center
						| 26 000 ₽


				// item

				.choice-sub__string
					p.align-center
						| 5000 ₽

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					a.btn-red(href="#" title="")
						| Забронировать абонемент с Cashback

			.col-md-3.choice-sub__column

				// item

				.choice-sub__string
					p.p-bold.align-center
						| Утренний

				// item

				.choice-sub__string
					p
						| (буд. 6.30-24.00; вых. 9.00-21.00)

				// item

				.choice-sub__string
					p.align-center.text-line 
						| 38 000 ₽	
					p.align-center
						| 26 000 ₽

				// item

				.choice-sub__string
					p.align-center
						| 1000 ₽

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-8.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-9.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-9.png" alt="")

				// item

				.choice-sub__string
					img(src="../img/icon-9.png" alt="")

				// item

				.choice-sub__string
					a.btn-red(href="#" title="")
						| Забронировать абонемент с Cashback

		// action cashback

		.row.action-cashback

			.col-md-12

				h3
					| Приобретайте абонементы с Cashback онлайн и получите дополнительную скидку 3%
				
				a.btn-red(href="" title="")
					| Купить онлайн