// footer

footer

	// container

	.container

		// row

		.row

			// column

			.col-md-3

				.footer__column

					h4
						| Контактная информация:

					p
						| +7(495) 374-66-40
					p
						| +7(495) 374-66-40

			// column

			.col-md-3

				.footer__column

					h4
						| Адрес:

					p
						| Москва, <br/> Дмитровское шоссе, 100с2, оф. 2226
					p
						a(href="#" title="")
							| info@stroyfond.ru

			// column	

			.col-md-3

				.footer__column

					h4
						| Контактная информация:

					p
						| +7(495) 374-66-40
					p
						| +7(495) 374-66-40

			// column	

			.col-md-3

				.footer__column

					h4
						| Адрес:


					p
						| Москва, <br/> Дмитровское шоссе, 100с2, оф. 2226
					p
						a(href="#" title="")
							| info@stroyfond.ru