header

	// container

	.container

		.row

			.col-sm-12.col-md-3

				// logo

				img.logo.header__logo(src="../img/logo.png" alt="")

			.col-sm-12.col-md-5

				// navigation

				nav.navigation.header__navigation
					ul
						li: a(data-easing="easeInQuad" href="#blockAbout" title="")
							| О клубе
						li: a(data-easing="easeInQuad" href="#blockChoiceSub" title="")
							| Абонементы
						li: a(data-easing="easeInQuad" href="#blockContacts" title="")
							| Контакты

			.col-sm-12.col-md-4

				// contacts information

				.contacts-info.header__contacts-info

					// phone number

					.contacts-info__phone
						h4
							| (3812) <span>38-30-20</span>
						a.link-call-popup(href="#" title="")
							| Заказать звонок
					
					// action

					a.contacts-info__action.btn-red.link-call-popup(href="")
						| Зарезервировать


