// header

.header

	// container

	.container

		.row

			.col-md-3

				// header logotype

				a.header__logo.logo(href="#" title="")

			.col-md-3

				// header title site

				.header__title-site.title-site
					h2
						| Строительство загородных домов

			.col-md-1

			.col-md-2

				//  header phone number

				.header__phone-number.phone-number
					a(href="tel:99999999999" title="")
						| +7 (495) 374-66-40

			.col-md-1

				// call button

				a.header__call-button.btn.btn-green.btn-normal(href="#" title="")
					| Обратный звонок

