.gallery

	// container

	.container

		.row

			.col-md-12

				h3
					| Галерея

		.row

			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-1.jpg" title="")
				img(src="../img/gallery/photo-1.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-2.jpg" title="")
				img(src="../img/gallery/photo-2.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-3.jpg" title="")
				img(src="../img/gallery/photo-3.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-4.jpg" title="")
				img(src="../img/gallery/photo-4.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-5.jpg" title="")
				img(src="../img/gallery/photo-5.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-6.jpg" title="")
				img(src="../img/gallery/photo-6.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-7.jpg" title="")
				img(src="../img/gallery/photo-7.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-8.jpg" title="")
				img(src="../img/gallery/photo-8.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-9.jpg" title="")
				img(src="../img/gallery/photo-9.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-10.jpg" title="")
				img(src="../img/gallery/photo-10.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-11.jpg" title="")
				img(src="../img/gallery/photo-11.jpg" alt="")
			a.col-xs-1.col-md-1(data-fancybox="gallery" href="../img/gallery/photo-12.jpg" title="")
				img(src="../img/gallery/photo-12.jpg" alt="")