// container

.container

	.row

		.com-md-12

			// navigation

			nav.nav
				ul
					li: a(href="#" title="")
						| Стоимость
					li: a(href="#" title="")
						| Проекты
					li: a(href="#" title="")
						| Качество
					li: a(href="#" title="")
						| Сроки
					li: a(href="#" title="")
						| Построенные дома
					li: a(href="#" title="")
						| Контакты