.mini-info

	// container

	.container

		.row

			.col-sm-12.col-md-4

				// logo

				img.logo.header__logo(src="../img/logo.png" alt="")

			.col-sm-12.col-md-6

				// navigation

				nav.navigation.header__navigation
					ul
						li: a(data-easing="easeInQuad" href="#blockContacts" title="")
							| О клубе
						li: a(data-easing="easeInQuad" href="#blockChoiceSub" title="")
							| Абонементы
						li: a(data-easing="easeInQuad" href="#blockContacts" title="")
							| Контакты

			.col-sm-12.col-md-2

				// contacts information

				.socials

					// phone number

					a(href="#" title="")
						img(src="../img/icon-5.png" alt="")
					a(href="#" title="")
						img(src="../img/icon-6.png" alt="")
					a(href="#" title="")
						img(src="../img/icon-7.png" alt="")