// partners

.partners

	// container

	.container

		// row

		.row

			// column

			.col-md-12

				.title-block
					h3
						| Наши партнёры
					.title-block__line

	// container

	.container

		// row

		.row

			// column

			.col-md-2

				img(src="../img/partners/partner-1.png" alt="@@")

			// column

			.col-md-2

				img(src="../img/partners/partner-2.png" alt="@@")

			// column

			.col-md-2

				img(src="../img/partners/partner-3.png" alt="@@")

			// column

			.col-md-2

				img(src="../img/partners/partner-4.png" alt="@@")

			// column

			.col-md-2

				img(src="../img/partners/partner-5.png" alt="@@")

			// column

			.col-md-2

				img(src="../img/partners/partner-6.png" alt="@@")